.attribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  font-size: 11px;
  text-align: center;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

body {
  background: #0d192b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 10px;
  font-family: Outfit, sans-serif;
}

.card {
  background: #14253d;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px;
}

.text {
  font-weight: 300;
  font-size: 16px;
}

#hero-img {
  position: relative;
}

#hero-img:hover .hover {
  opacity: 0.5;
}

#hero-img:hover .inspect-svg {
  opacity: 1;
}

.hover {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0px;
  right: 0;
  height: 302px;
  width: 100%;
  opacity: 0;
  border-radius: 10px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background-color: #00fff7;
}

.hero-img {
  border-radius: 10px;
  width: 100%;
}

.inspect-svg {
  position: absolute;
  left: 43%;
  top: 45%;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.text-link {
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.text-link:hover {
  color: #00fff7;
}

.text {
  color: #8bacda;
}

p {
  display: block;
  -webkit-margin-before: 3em;
          margin-block-start: 3em;
  -webkit-margin-after: 3em;
          margin-block-end: 3em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  font-size: 14px;
}

.ETH {
  color: #00fff7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.days {
  color: #8bacda;
  padding-top: 0em;
}

hr {
  display: block;
  height: 1px;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-width: 0px 0px 0px;
  -o-border-image: initial;
     border-image: initial;
  border-top: 1px solid #2f415b;
  margin: 10px 0px;
  padding: 0px;
}

.creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creator-avatar {
  height: 29px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 16px;
}

.created-by {
  color: #8bacda;
}

.link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: white;
}

.link:hover {
  color: #00fff7;
}

.clock-img {
  margin-right: 0.25em;
}

.days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}
/*# sourceMappingURL=main.css.map */